<!-- Container for the welcome message -->
<div class="welcome-container">
    <!-- The welcome message can be added here if needed -->
  </div>
  
  <!-- Navigation bar with buttons for Home and Favorite Actors pages -->
  <nav class="nav-bar">
    <!-- Link to navigate to the Home page -->
    <a routerLink="/" class="nav-button">Home</a>
    <!-- Link to navigate to the Favorite Actors page -->
    <a routerLink="/favorites" class="nav-button">Favorite Actors</a>
  </nav>
  
  <!-- Router outlet to display the component based on the current route -->
  <router-outlet></router-outlet>
  