.welcome-container {
  text-align: center;
  margin: 50px 0;
  h1 {
    font-size: 36px;
    color: #6200ea;
  }
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 20px;
  input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  button:hover {
    background-color: #3700b3;
  }
}

.actor-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .actor-item {
    margin: 20px;
    text-align: center;
    width: 200px;
    .actor-info {
      margin-top: 10px;
      h3 {
        margin: 10px 0;
        font-size: 18px;
      }
      p {
        font-size: 14px;
        color: #555;
      }
      button {
        padding: 5px 10px;
        font-size: 16px;
        background-color: transparent;
        color: red;
        border: none;
        cursor: pointer;
        transition: transform 0.2s ease;
      }
      button.favorite {
        color: darkred;
      }
      button:hover {
        transform: scale(1.2);
      }
    }
    img {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      object-fit: cover;
      border: 2px solid #6200ea;
    }
  }
}
